* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.btn {
    padding: 1%;
    margin: 1%;
    background: rgb(18, 77, 18);
    color: white;
    border-radius: 12px;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(206, 238, 206);
    padding: 15px 30px;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 2rem;
}

/* main content styles */
.main-contents {
    padding: 10% 15%;
    text-align: center;
}

.header {
    font-size: x-large;
    padding: 2%;
}

.content {
    font-size: large;
    padding: 1%;
}

/* quiz question styles */
li {
    list-style-type: none;
}

#choice {
    font-style: italic;
    padding: 2%;
    color: gray;
}

/* high score styles */
.hsmain {
    text-align: center;
    padding: 10%;
}
